/* DEFAULT BUTTONS -------------------------------------------------------------- */
.button-brand{
    border-radius: 8px;
    padding: 8px 16px;
    min-width: 100px;
    color: var(--text-inverse);
    background-color: var(--bg-brand-blue);
}

    .button-brand:hover {
        background-color: var(--bg-brand-blue-hover);
    }

    .button-brand:active {
        background-color: var(--bg-brand-blue-active);
    }

    .button-brand:disabled {
        background-color: rgba(0, 0, 0, 0.12);
        color:var(--text-label);
    }

.button-brand-small{
    border-radius: 8px;
    padding: 8px 12px;
    min-width: 100px;
    color: var(--text-inverse);
    background-color: var(--bg-brand-blue);
}

    .button-brand-small:hover {
        background-color: var(--bg-brand-blue-hover);
    }

    .button-brand-small:active {
        background-color: var(--bg-brand-blue-active);
    }

    .button-brand-small:disabled {
        background-color: rgba(0, 0, 0, 0.12);
        color:var(--text-label);
    }

.button-brand-subtle{
    border: 1px solid var(--border-brand-blue);
    border-radius: 8px;
    padding: 8px 16px;
    min-width: 100px;
    color: var(--text-brand-blue);
    background-color: rgba(0, 0, 0, 0);
}

    .button-brand-subtle:hover {
        background-color: rgba(0, 0, 0, 0.06);
    }

    .button-brand-subtle:active {
        background-color: rgba(0, 0, 0, 0.12);
    }

    .button-brand-subtle:disabled {
        background-color: rgba(0, 0, 0, 0.12);
        color:var(--text-label);
        border: none;
    }

.button-brand-subtle-small{
    border: 1px solid var(--border-brand-blue);
    border-radius: 8px;
    padding: 8px 12px;
    min-width: 100px;
    color: var(--text-brand-blue);
    background-color: rgba(0, 0, 0, 0);
}

    .button-brand-subtle-small:hover {
        background-color: rgba(0, 0, 0, 0.06);
    }

    .button-brand-subtle-small:active {
        background-color: rgba(0, 0, 0, 0.12);
    }

    .button-brand-subtle-small:disabled {
        background-color: rgba(0, 0, 0, 0.12);
        color:var(--text-label);
        border: none;
    }

/* GRAY BUTTONS -------------------------------------------------------------- */
.button-gray{
    border-radius: 8px;
    padding: 8px 16px;
    min-width: 100px;
    color: var(--text-inverse);
    background-color: var(--bg-gray-gray-bold);
}

    .button-gray:hover {
        background-color: var(--bg-gray-gray-bold-hover);
    }

    .button-gray:active {
        background-color: var(--bg-gray-gray-bold-active);
    }
 
    .button-gray:disabled {
        background-color: rgba(0, 0, 0, 0.12);
        color:var(--text-label);
    }

.button-gray-small{
    border-radius: 8px;
    padding: 8px 12px;
    min-width: 100px;
    color: var(--text-inverse);
    background-color: var(--bg-gray-gray-bold);
}

    .button-gray-small:hover {
        background-color: var(--bg-gray-gray-bold-hover);
    }

    .button-gray-small:active {
        background-color: var(--bg-gray-gray-bold-active);
    }

    .button-gray-small:disabled {
        background-color: rgba(0, 0, 0, 0.12);
        color:var(--text-label);
    }

.button-gray-subtle{
    border: 1px solid var(--border-subtle);
    border-radius: 8px;
    padding: 8px 16px;
    min-width: 100px;
    color: var(--text-bold);
    background-color: rgba(0, 0, 0, 0);
}

    .button-gray-subtle:hover {
        background-color: rgba(0, 0, 0, 0.06);
    }

    .button-gray-subtle:active {
        background-color: rgba(0, 0, 0, 0.12);
    }

    .button-gray-subtle:disabled {
        background-color: rgba(0, 0, 0, 0.12);
        color:var(--text-label);
        border: none;
    }

.button-gray-subtle-small{
    border: 1px solid var(--border-subtle);
    border-radius: 8px;
    padding: 8px 12px;
    min-width: 100px;
    color: var(--text-bold);
    background-color: rgba(0, 0, 0, 0);
}

    .button-gray-subtle-small:hover {
        background-color: rgba(0, 0, 0, 0.06);
    }

    .button-gray-subtle-small:active {
        background-color: rgba(0, 0, 0, 0.12);
    }

    .button-gray-subtle-small:disabled {
        background-color: rgba(0, 0, 0, 0.12);
        color:var(--text-label);
        border: none;
    }

/* DANGER BUTTONS -------------------------------------------------------------- */
.button-danger{
    border-radius: 8px;
    padding: 8px 16px;
    min-width: 100px;
    color: var(--text-inverse);
    background-color: var(--bg-danger);
}

    .button-danger:hover {
        background-color: var(--bg-danger-hover);
    }

    .button-danger:active {
        background-color: var(--bg-danger-active);
    }

    .button-danger:disabled {
        background-color: rgba(0, 0, 0, 0.12);
        color:var(--text-label);
    }

.button-danger-small{
    border-radius: 8px;
    padding: 8px 12px;
    min-width: 100px;
    color: var(--text-inverse);
    background-color: var(--bg-danger);
}

    .button-danger-small:hover {
        background-color: var(--bg-danger-hover);
    }

    .button-danger-small:active {
        background-color: var(--bg-danger-active);
    }

    .button-danger-small:disabled {
        background-color: rgba(0, 0, 0, 0.12);
        color:var(--text-label);
    }

.button-danger-subtle{
    border: 1px solid var(--border-danger);
    border-radius: 8px;
    padding: 8px 16px;
    min-width: 100px;
    color: var(--text-danger);
    background-color: rgba(0, 0, 0, 0);
}

    .button-danger-subtle:hover {
        background-color: rgba(0, 0, 0, 0.06);
    }

    .button-danger-subtle:active {
        background-color: rgba(0, 0, 0, 0.12);
    }

    .button-danger-subtle:disabled {
        background-color: rgba(0, 0, 0, 0.12);
        color:var(--text-label);
        border: none;
    }

.button-danger-subtle-small{
    border: 1px solid var(--border-danger);
    border-radius: 8px;
    padding: 8px 12px;
    min-width: 100px;
    color: var(--text-danger);
    background-color: rgba(0, 0, 0, 0);
}

    .button-danger-subtle-small:hover {
        background-color: rgba(0, 0, 0, 0.06);
    }

    .button-danger-subtle-small:active {
        background-color: rgba(0, 0, 0, 0.12);
    }

    .button-danger-subtle-small:disabled {
        background-color: rgba(0, 0, 0, 0.12);
        color:var(--text-label);
        border: none;
    }

/* YELLOW BUTTONS -------------------------------------------------------------- */
.button-brand-yellow {
    border-radius: 8px;
    padding: 8px 16px;
    min-width: 100px;
    color: var(--text-brand-blue);
    background-color: var(--bg-brand-yellow);
}

    .button-brand-yellow:hover {
        background-color: var(--bg-brand-yellow-hover);
    }

    .button-brand-yellow:active {
        background-color: var(--bg-brand-yellow-active);
    }

    .button-brand-yellow:disabled {
        background-color: rgba(0, 0, 0, 0.12);
        color:var(--text-label);
    }

.button-brand-yellow-small{
    border-radius: 8px;
    padding: 8px 12px;
    min-width: 100px;
    color: var(--text-brand-blue);
    background-color: var(--bg-brand-yellow);
}

    .button-brand-yellow-small:hover {
        background-color: var(--bg-brand-yellow-hover);
    }

    .button-brand-yellow-small:active {
        background-color: var(--bg-brand-yellow-active);
    }

    .button-brand-yellow-small:disabled {
        background-color: rgba(0, 0, 0, 0.12);
        color:var(--text-label);
    }

/*LINK BUTTON -------------------------------------------------------------- */
.button-link{
    color: var(--text-link);
}

    .button-link:hover {
        color: var(--text-link-hover);
    }

    .button-link:active {
        color: var(--text-link-active);
    }

    .button-link:disabled {
        color: var(--text-link-inactive);
    }