.subtitle {
    color: var(--blue50);
}

.value-card {
    border-radius: 8px;
    background-color: white;
    padding: 16px 8px;
    width: 16rem;
    height: 12rem;
    margin: 8px;
}


.cardArticle {
    flex: 0 0 auto;
    width: 296px;
    border: 1px solid var(--lighter-gray);
    border-radius: 8px;
    background-color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardArticle:hover {
    transform: translateY(-4px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.thumbnail_cover {
    background-color: var(--blue50);
    border-radius: 8px 8px 0px 0px;
    height: 158px;
    border: none;
}

.thumbnail_img {
    float: right;
    width: 50%;
}

.cardInfo {
   padding: 16px;
}

.link-action {
    padding: 4px 16px;
}

/* FOUNDATIONS CARD------------------------------------- */
.card {
    border-radius: 8px !important;
}

.card-divider {
    background-color: var(--yellow50) !important;
    color: var(--blue50) !important;
}

/* ------------------------------------- */
.cardFaculty {
    width: 296px;
    border: 2px solid var(--lighter-gray);
    border-radius: 8px;
    background-color: white;
}
.thumbnail_img2 {
    background-color: var(--blue50);
    border-radius: 8px 8px 0px 0px;
    height: 296px;
    border: none;
}

.roleLabel {
    padding: 16px 16px 0px 16px;
}

/* ------------------------------------- */
.choices {
    display: flex;
    gap: 24px;
}

.employer-card-icon {
    font-size: 48px;
}

.member-card-icon {
    font-size: 48px;
}

.membersCard {
    width: 18.5rem;
    height: 19rem;
    border: 2px solid var(--light-gray);
    border-radius: 8px;
    color: var(--blue50);
    background-color: var(--yellow50);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.membersCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.employersCard {
    width: 18.5rem;
    height: 19rem;
    border: 2px solid var(--light-gray);
    border-radius: 8px;
    color: white;
    background-color: #398434;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.employersCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

/* FAQ ------------------------------------- */
.faq-menu {
    background-color: white;
    border-radius: 10px;
    border-bottom: var(--light-gray);
    padding: 20px 20px 0 20px;
    max-width: 1544px;
}

.faq-item {
    border-bottom: 1px solid #ecf0f1;
    overflow: hidden;
}
  
.faq-question {
    background-color: white;
    width: 100%;
    padding: 20px;
    text-align: left;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}
  
.faq-question:hover {
    background-color: var(--lighter-gray);
}
  
.drop-down {
    position: absolute;
    right: 20px;
    transition: transform 0.3s ease;
}
  
.active {
    .drop-down {
      color: var(--white);
      transform: translateX(-50%) rotate(180deg);
    }
  
    .faq-answer {
      display: block;
      padding: 20px;
    }
}

.faq-question.active {
    background-color: var(--blue50);
    color: white;
}
  
.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: white;
}
  
.faq-answer p {
    padding: 20px;
    color: black;
}
  
/* TABLE ------------------------------------- */
table {
    margin: auto;
    padding-top: 32px;
    width: 1024px !important;
}

th {
    padding: 16px !important;
    background-color: var(--blue50);
    color: white;
    text-align: left;
}

td {
    padding: 16px !important;
    align-items: left;
}


/* CAROUSEL ------------------------------------- */
.carousel-div {
    position: relative;
    padding: 0px 30px;
    margin-top: 100px;
}

.left-carousel {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 25px;
}

.right-carousel {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 25px;
}

.scroll-cards {
    position: relative;
    width: 100%;
    padding: 40px 0px;
    height: auto;
    gap: 2rem;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}